<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Membro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <div class="container">
        <h2>Cadastro de Membro</h2>
        <form id="form-cadastro-membro">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="senha" placeholder="Senha" required>
            <button type="submit" class="cadastro-btn">Cadastrar</button> 
        </form>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Voltar</a></li>
            </ul>
        </nav>  
    </div>
</body>
</html>