<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <h2>Boas-vindas ao Direction Habits!</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                <li><a href="{{ url_for('login') }}">Entrar</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>