<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Entrar</h2>
        <form id="form-entrar-membro" method="POST" action="{{ url_for('login') }}">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <button type="submit" class="entrar-btn">Entrar</button> 
        </form>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Voltar</a></li>
            </ul>
        </nav>    
    </div>
</body>
</html>
