* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #002f01, #022d29);
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #009199;
    padding: 15px;
    border-radius: 10px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #022d29;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}