* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #002f01, #022d29);
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.tasks {
    text-align: center;
    margin-bottom: 20px;
}

.task {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.task-info {
    margin-bottom: 10px;
}

.task-name {
    font-size: 20px;
    color: #333;
}

.task-priority,
.task-status {
    font-size: 16px;
    color: #666;
}

.task-actions {
    text-align: center;
}

.task-actions button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #009199;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-actions button:hover {
    background-color: #022d29;
}

.btn-adicionar {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #009199;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
    background-color: #022d29;
}

.btn-voltar {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #009199;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #022d29;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-descricao {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #009199;
    padding: 15px;
    border-radius: 10px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #022d29;
}
