* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #483D8B, #A87BDE);
}

.container {
    background-color: #E6E6FA;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.container p {
    margin-bottom: 20px;
    color: #222222;
    font-size: 20px;
}

form {
    margin-top: 20px;
}

form input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus {
    outline: none;
    border-color: #663399;
}

.prioridade {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
}

.radio-buttons input[type="radio"]:checked + label {
    background-color:#663399;
    color: white;
    border-color: #663399;
}

form button {
    color:#663399;
    background-color:#663399;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

form button:hover {
    background-color:#4B0082;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color:#ffffff;
    background-color:#663399;
    padding: 15px;
    border-radius: 8px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    background-color:#4B0082;
}

.btn-salvar {
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    background-color:#663399;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-salvar:hover {
    background-color:#4B0082;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.error {
    background-color: #ffcccc;
    color: #ff0000;
}

.flashes li.success {
    background-color: #ccffcc;
    color: #00cc00;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
}
